body {
    font-family: "Arial", serif;  
    font-size: 16px;                
    line-height: 1.6;
    color: #000;
    padding: 20px;
}

h1, h2, h3 {
    color: #2e3b4e;
    font-weight: bold;
    margin-top: 20px;
}

code {
    background-color: #2e2c2c;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
}
